.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.container {
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.chord {
  padding: 1em;
  text-align: center;
}
