.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.container {
  padding: 1em;
}

.chord {
  padding: 1em;
  text-align: center;
}

.code {
  background-color: #222;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 0.8em;
}
